<% provide(:title, @user.relationship_name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user-info">
      <%= @user.gravatar_image %>
      <h1><%= @user.name %></h1>
      <span><%= link_to "view my profile", @user %></span>
      <span>
        <b>Microposts:</b> <%= @user.microposts.count %>
      </span>
    </section>
    <section class="stats">
      <%= render "stats" %>
      <% if @user.relationships.any? %>
        <div class="user-avatars">
          <% @user.relationships.each do |user| %>
            <%= link_to user.gravatar_image(size: 30), user %>
          <% end %>
        </div>
      <% end %>
    </section>
  </aside>
  <div class="col-md-8">
    <h3><%= @user.relationship_name %></h3>
    <% if @user.paginated_relationships.any? %>
      <ul class="users follow">
        <%= render partial: "user", collection: @user.paginated_relationships %>
      </ul>
      <%= will_paginate @user.paginated_relationships %>
    <% end %>
  </div>
</div>
