<% provide(:title, @user.relationship_name) %>
<div class="row">
  <aside class="col-md-4">
    <%= render "user_info", user: @user %>
    <section class="stats">
      <%= render "stats", user: @user %>
      <% if @user.relationships.any? %>
        <%= render "user_avatars", relationships: @user.relationships %>
      <% end %>
    </section>
  </aside>
  <div class="col-md-8">
    <h3><%= @user.relationship_name %></h3>
    <% if @user.paginated_relationships.any? %>
      <%= render "users", relationships: @user.paginated_relationships %>
    <% end %>
  </div>
</div>
