<li id="micropost-<%= micropost.id %>">
  <%= link_to micropost.user_gravatar_image(size: 50), micropost.user %>
  <span class="user">
    <%= link_to micropost.user_name, micropost.user %>
  </span>
  <span class="content">
    <%= micropost.content %>
  </span>
  <span class="timestamp">
    Posted <%= micropost.timestamp %> ago.
  </span>
</li>
