<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= render "defaults" %>
    <%= render "shim" %>
  </head>
  <body>
    <%= render "header" %>
    <div class="container">
      <%= render "flash" %>
      <%= yield %>
      <%= render "footer" %>
    </div>
  </body>
</html>
